@model PaginatedList<MyBlog.Models.Post>

@{
    ViewData["Title"] = "Home Page";
}

<header class="tm-header" id="tm-header">
    <div class="tm-header-wrapper" style="padding-top:120px">
        <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="tm-site-header">
            @*<div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-times fa-2x"></i></div>*@
            <h1 class="text-center">iBlog v 1.0</h1>
        </div>
        <nav class="tm-nav" id="tm-nav">
            <ul>
                <li class="tm-nav-item active">
                    <a asp-controller="Home" asp-action="Index" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Blog Home
                    </a>
                </li>
                <li class="tm-nav-item">
                    <a asp-controller="Blogs" asp-action="Index" class="tm-nav-link">
                        <i class="fas fa-pen"></i>
                        Blogs
                    </a>
                </li>
                <li class="tm-nav-item">
                    <a asp-controller="Categories" asp-action="Index" class="tm-nav-link">
                        <i class="fas fa-users"></i>
                        Categories
                    </a>
                </li>
                <li class="tm-nav-item">
                    <a href="contact.html" class="tm-nav-link">
                        <i class="far fa-comments"></i>
                        Contact Us
                    </a>
                </li>
            </ul>
        </nav>


        @*SOCIAL*@
        <div class="tm-mb-65">
            <a rel="nofollow" href="https://fb.com/templatemo" class="tm-social-link">
                <i class="fab fa-facebook tm-social-icon"></i>
            </a>
            <a href="https://twitter.com" class="tm-social-link">
                <i class="fab fa-twitter tm-social-icon"></i>
            </a>
            <a href="https://instagram.com" class="tm-social-link">
                <i class="fab fa-instagram tm-social-icon"></i>
            </a>
            <a href="https://linkedin.com" class="tm-social-link">
                <i class="fab fa-linkedin tm-social-icon"></i>
            </a>
        </div>
        <p class="tm-mb-80 pr-5 text-white">
            iBlog is a modern CMS system powered by .Net Core 5 MVC
        </p>
    </div>
</header>


@*BODY*@

<div class="container-fluid">
    <main class="tm-main">
        <!-- Search form -->
        <div class="row tm-row">
            <div class="col-12">
                <form method="GET" class="form-inline tm-mb-80 tm-search-form">
                    <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
                    <button class="tm-search-button" type="submit">
                        <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="row tm-row">

            @foreach (var item in Model)
            {
                <article class="col-12 col-md-6 tm-post">

                    <hr class="tm-hr-primary">
                    <a class="effect-lily tm-post-link tm-pt-60">
                        <div class="tm-post-link-inner">

                            @if (item.FeauturePhotoName != null)
                            {
                                @if (item.FeauturePhotoName.Contains("_"))
                                {
                                    string featurePhotoName = item.FeauturePhotoName.Remove(0, 37);
                                    string uniqueFeaturePhotoName = item.FeauturePhotoName;

                                    <img class="img-fluid" src='~/Media/@uniqueFeaturePhotoName' alt="@uniqueFeaturePhotoName" style="width:500px;height:300px" /> }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.FeauturePhotoName)
                                }
                            }

                        </div>

                        <span class="position-absolute tm-new-badge">New</span>
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">@item.Title</h2>
                    </a>
                    <p class="tm-pt-30">

                        @* Post summary *@
                        @if (item.Body.Length < 250)
                        {
                            @item.Body<a asp-controller="Home" asp-action="Details" asp-route-id="@item.PostId">......read more</a>

                        }
                        else
                        {

                            @item.Body.Substring(0, 250)<a asp-controller="Home" asp-action="Details" asp-route-id="@item.PostId">......read more</a>
                        }

                    </p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">Category : <a asp-controller="Posts" asp-action="QueryPostsByCategory" asp-route-CategoryId="@item.CategoryId">@item.Category.Name</a></span>
                        <span asp-format="{0:dd'/'MM'/'yyyy}" class="tm-color-primary">@item.CreatedOn.Value.ToString("dd MMM yyyy")</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>Blog : <b><a asp-controller="Posts" asp-action="QueryPostsByBlog" asp-route-BlogId="@item.BlogId">@item.Blog.Name</a></b></span>
                        <span>Author : <b>@item.Author</b></span>
                    </div>

                </article>

            }

            @*PAGING*@


            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

            <div class="row tm-row tm-mt-100 tm-mb-75">

                <a asp-action="Index"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   class="mb-2 tm-btn tm-btn-primary tm-prev-next @prevDisabled">
                    Previous
                </a>
                <a asp-action="Index"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   class="mb-2 tm-btn tm-btn-primary tm-prev-next @nextDisabled">
                    Next
                </a>

            </div>

            @*END OF POSTS FOREACH*@



        </div>
    </main>
</div>


@section scripts{

    <script src="~/js/templatemo-script.js"></script>

}



